<div id = "homePage"> 
<section id="hero111" style = "margin: 0 0 0 10%;" class="hero hero-home bg-gray">
      <div class="container">
        <div class="row d-flex">
      
            <h1>HonesTours - Who Are We?</h1>
            <h2 class="hero-text">We are dedicated to providing you with the most authenic and unbiased college tour experiences possible.</h2>
            <button type="submit" class="btn" style="background-color:black; color: white; height: 15%">Find Out More!</button>
         
        </div>
      </div>
      <br>
      <img style = "margin: 0 25% 0 0%;" src="https://cdn3.iconfinder.com/data/icons/school-solid-icons-vol-1/96/001-256.png" alt="..." class="img-fluid">
    </section>
    <section id="browser" class="browser">
</div>