<div id = "loginPage"> 
    <div class="login-container">
        <h1>Login</h1>

        <form>
            <input type="text" name="username" placeholder = "username"><br>
            <input type="text" name="password" placeholder = "password"><br><br>
            <button class="login-main-button" type="submit" value="Login">Login</button>
        </form>
        <p class="login-regis">Don't have an account?  <a class= "regis-link" href="/vh4/view/register.html">Register</a></p>
    </div>
</div>